<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avs.akashsingh.newapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewApp">
        <activity
            android:name="com.avs.akashsingh.newapp.UpdateProfileAcvity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.SpinWheelActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.avs.akashsingh.newapp.LeaderBordActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.ResultActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.QuizActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.MyWalletActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.CategoryActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.LogInActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.avs.akashsingh.newapp.MainActivity"
            android:exported="true" />
    </application>

</manifest>